.button{
    background-color: #6C45CE;
    color: #FCFCFC;
    border: 2px solid #FCFCFC;
    border-radius: 8px;
}

.button--grande{
    width: 322px;
    height: 64px;
}

.button--pequeno{
    width: 202px;
    height: 50px;
}